 <div class="container mt-5">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h3>About Us</h3>
        <hr>
        <div class="card-group">
          <div class="card">
            <img src="creator1.jpg" class="card-img-top" alt="Creator 1">
            <div class="card-body">
              <h5 class="card-title">John Doe</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec elit lacus. Nulla id mauris eu mauris volutpat porta. Sed venenatis justo non nisl efficitur, id faucibus arcu feugiat.</p>
            </div>
          </div>
          <div class="card">
            <img src="creator2.jpg" class="card-img-top" alt="Creator 2">
            <div class="card-body">
              <h5 class="card-title">Jane Smith</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec elit lacus. Nulla id mauris eu mauris volutpat porta. Sed venenatis justo non nisl efficitur, id faucibus arcu feugiat.</p>
            </div>
          </div>
          <div class="card">
            <img src="creator3.jpg" class="card-img-top" alt="Creator 3">
            <div class="card-body">
              <h5 class="card-title">Mike Johnson</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec elit lacus. Nulla id mauris eu mauris volutpat porta. Sed venenatis justo non nisl efficitur, id faucibus arcu feugiat.</p>
            </div>
          </div>
          <div class="card">
            <img src="creator4.jpg" class="card-img-top" alt="Creator 4">
            <div class="card-body">
              <h5 class="card-title">Emily Davis</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec elit lacus. Nulla id mauris eu mauris volutpat porta. Sed venenatis justo non nisl efficitur, id faucibus arcu feugiat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>