<section id="recommended-books">
  <div class="container">
    <h2 class="text-center">Our Top Recs!</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="card h-100 d-flex cardGrow">
          <img src="/CSS/images/thename-ofthe-wind.png" class="card-img-top" alt="Book 1">
          <div class="card-body">
            <h5 class="card-title">Marquise's pick</h5>
            <p class="card-text">The intimate narrative of his childhood in a troupe of traveling players, his years spent as a near-feral orphan in a crime-ridden city, his daringly brazen yet successful bid to enter a legendary school of magic, and his life as a fugitive after the murder of a king form a gripping coming-of-age story unrivaled in recent literature.</p>
            <a href="/book/5y6JEAAAQBAJ" class="btn ">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100 d-flex cardGrow">
          <img src="/CSS/images/solo-leveling-vol-2-comic.jpg" class="card-img-top" alt="Book 2">
          <div class="card-body">
            <h5 class="card-title">Davyn's pick</h5>
            <p class="card-text">It follows the adventures of Sung Jinwoo, a young and infamously incompetent Korean hunter, in his quest to become the strongest hunter of them all</p>
            <a href="/book/IF0QEAAAQBAJ" class="btn ">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100 d-flex cardGrow">
          <img src="/CSS/images/bestfriendexo.jpg" class="card-img-top" alt="Book 3">
          <div class="card-body">
            <h5 class="card-title">Emma's pick</h5>
            <p class="card-text">Abby and Gretchen have been best friends since fifth grade, when they bonded over a shared love of E.T., roller-skating parties, and scratch-and-sniff stickers. But when they arrive at high school, things change. Gretchen begins to act….different.</p>
            <a href="/book/In1pCgAAQBAJ" class="btn">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100 d-flex cardGrow">
          <img src="/CSS/images/think-and-grow-rich-original-hardcover.png" class="card-img-top" alt="Book 4">
          <div class="card-body">
            <h5 class="card-title">Dewayne's Pick</h5>
            <p class="card-text">A curation of the 13 most common habits of wealthy and successful people, distilled from studying over 500 individuals over the course of 20 years.</p>
            <a href="/book/TMKFKWgCDFEC" class="btn ">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="row justify-content-center">
  <div class="col-md-8 mt-4">
    <div class="table-section cuteBoard">
      <table class="table">
        <thead>
          <tr>
            <th colspan="3" class="text-center">Top Readers this week</th>
          </tr>
          <tr>
            <th>Users</th>
            <th>Books Read</th>
            <th>Rank</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>lkrum</td>
            <td>10</td>
            <td>1</td>
          </tr>
          <tr>
            <td>jQuest</td>
            <td>8</td>
            <td>2</td>
          </tr>
          <tr>
            <td>boushka9</td>
            <td>3</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
