<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 mt-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Popular Reads This Week</h5>
        <p class="card-text">Join the conversation</p>
          <ul>
            <li>Book 1</li>
            <li>Book 2</li>
            <li>Book 3</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row justify-content-center">
    <div class="col-md-8 mt-4">
      <table class="table">
        <thead>
          <tr>
            <th colspan="3" class="text-center">Most Active Users</th>
          </tr>
          <tr>
            <th>Users</th>
            <th>Books Read</th>
            <th>Rank</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Team A</td>
            <td>10</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Team B</td>
            <td>8</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Team C</td>
            <td>12</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>