<div class="login">
  <form class="loginForm">
    <div>
            <label for="username">Username: </label><br>
            <input type="text" class="username-login"><br>
        </div>
        <div>
            <label for="password">Password: </label><br>
            <input type="password" class="password-login"><br>
        </div>
  </form>
</div>

<script src="/public/js/login.js"></script>