  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-4">
        <h3 class="mb-4">Welcome</h3>
        <form class="loginForm" >
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="usernameLogin" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control passwordLogin" id="password" placeholder="Enter password">
          </div>
          <button class="btn btn-outline-primary ml-2">Log In</button>
        </form>
      </div>
    </div>
  </div>

<script src="/js/login.js"></script>