<div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-md-8">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title text-center">Rules</h5>
            <ul class="list-group">
              <li class="list-group-item">1. You don't talk about book club.</li>
              <li class="list-group-item">2. You DO NOT talk about book club.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>