:root {
  --tan: #ffe6a7;
  --brownsih: #bb9457;
  --red: #6f1d1b;
  --darkBrown: #432818;
  --burnt: #99582a;
}

* {
  font-family: " ", serif;
}

.grid-item {
  margin-bottom: 20px;
  padding-top: 40px; /* Add padding to the top */
}

body {
  background-color: #f8f9fa;
}

.card {
  max-width: 18rem;
}

.btn {
  background-color: var(--red);
  color: white;
  font-weight: bold;
}

.btn:hover {
  transform: scale(1.05);
}

.card-body .btn {
  padding: 5px 10px;
  font-size: 14px;
}

.navbarCust {
  max-width: 50%;
  height: auto;
  width: auto\9;
}

.cardGrow {
  transition: transform 0.3s ease;
}

.cardGrow:hover {
  transform: scale(1.05);
}

.cuteBoard {
  background-color: #fff0e8;
  border-radius: 10px;
  padding: 15px;
}

.cuteBoard table {
  color: black;
}

.cuteBoard th {
  font-weight: bold;
  border-color: var(--burnt);
}

.cuteBoard th,
.cuteBoard td {
  vertical-align: middle;
  border-color: var(--burnt);
}

.card-img-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.top-image {
  margin-top: 80px;
  text-align: center;
}

.top-image img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.cute {
  color: var(--red);
}