* {
  font-family: "Roboto Slab", serif;
}

.grid-item {
  margin-bottom: 20px;
  padding-top: 40px; /* Add padding to the top */
}

body {
  background-color: #f8f9fa;
}

.card {
  max-width: 18rem;
}