:root {
    --tan: #FFE6A7;
    --brownsih: #BB9457;
    --red: #6F1D1B;
    --darkBrown: #432818;
    --burnt: #99582A;
}

* {
  font-family: " ", serif;
  background-color: var(t);
}

.grid-item {
  margin-bottom: 20px;
  padding-top: 40px; /* Add padding to the top */
}

body {
  background-color: #f8f9fa;
}

.card {
  max-width: 18rem;
}

.btn {
  background-color: var(--red);
  color: white;
  font-weight: bold;
}

.btn:hover {
  transform: scale(1.05);
}

.card-body .btn {
  padding: 5px 10px;
  font-size: 14px; 
}

.navbarCust {
    max-width: 50%;
    height: auto;
    width: auto\9;
}

.cardGrow {
  transition: transform 0.3s ease;
}

.cardGrow:hover {
  transform: scale(1.05);
}

.cuteBoard {
  background-color: #FFF8E6; /* Replace with your desired background color */
  border-radius: 10px; /* Adjust the border radius as needed */
  padding: 15px; /* Add padding as desired */
}

.cuteBoard table {
  color: black; /* Set the text color for table content */
}

.cuteBoard th {
  font-weight: bold;
  border-color: var(--burnt); 
}

.cuteBoard th,
.cuteBoard td {
  vertical-align: middle; 
  border-color: var(--burnt);
}

.card-img-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
